@page
@model IndexModel
@{    
    ViewData["Title"] = "Test Web App";
}

<div class="text-center">
    <h1 class="display-4">Hello Azure Networking Team</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">aise hi test app banaya he! Malik</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
