@page
@model IndexModel
@{    
    ViewData["Title"] = "Test Web App";
}

<div class="text-center">
    <h1 class="display-4">Hello Azure Networking Team</h1>
    <h3>Aise hi test app banaya he! Malik</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">( jada janane ka kida he to yaha pe click kr )</a>.</p>
    <hr />
    
<img src="https://th.bing.com/th/id/OIP.kQZot2hjRQYQ2MExUUY9CAHaEK?rs=1&pid=ImgDetMain" alt="description" width="width" height="height">

    <div>Host operating system: @Model.OSVersion</div>
</div>
